<section class="container" data-ng-controller="HomeController">
  <div class="row">
    <h4>Welcome to the dashboard captain!</h4>
  </div>
  <div class="row">
    <div class="col-md-6 resource">
      <div class="resource-tile-wrapper">
        <div class="resource-tile">
          <a href="/#!/reports">
            <div class="resource-icon">
              <i class="fa fa-list fa-5x"></i>
            </div>
            <div class="resource-footer">
              <span class="resource-title">List Reports</span>
            </div>
          </a>
        </div>
      </div>    
    </div>
    <div class="col-md-6 resource">
      <div class="resource-tile-wrapper">
        <div class="resource-tile">
          <a href="/#!/reports/search">
            <div class="resource-icon">
              <i class="fa fa-search fa-5x"></i>
            </div>
            <div class="resource-footer">
              <span class="resource-title">Search Reports</span>
            </div>
          </a>
        </div>
      </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 resource">
      <div class="resource-tile-wrapper">
        <div class="resource-tile">
          <a href="http://reports.ooni.nu/">
            <div class="resource-icon">
              <i class="fa fa-gears fa-5x"></i>
            </div>
            <div class="resource-footer">
              <span class="resource-title">Raw Reports</span>
            </div>
          </a>
        </div>
      </div>    
    </div>
    <div class="col-md-6 resource">
      <div class="resource-tile-wrapper">
        <div class="resource-tile">
          <a href="http://reports.ooni.nu/analytics/bridge_reachability/timeline/">
            <div class="resource-icon">
              <i class="fa fa-area-chart fa-5x"></i>
            </div>
            <div class="resource-footer">
              <span class="resource-title">Visualizations</span>
            </div>
          </a>
        </div>
      </div>    
    </div>
  </div>
</section>
